h1{
	color: white;
}

body{
<<<<<<< HEAD
=======
	
>>>>>>> 4bc9cb5ae81918d40dc57e0b58e62edfd4304e7a
	background-image: url("http://dingo.care2.com/pictures/greenliving/3/2440.large.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


a.bla{
	color: white;
	font-size: 200%;
}

#pi{

	color:white;
	font-size:150%;
}