h1{
	color: "DC143C";
}

body{
	background-image: url("http://revelwallpapers.net/d/736D714D6732445A72646A4C72344F6671584F4676745774764E64355A673D3D/kids-cartoon-paradise-autumn-read-book-tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


a.bla{
	color: "DC143C";
	font-size: 200%;
}

p
{



font-family: 'Arizonia', cursive;
font-size: 400%;
color: black;




}

.t
{
	font-size: 50%;
	color: "DC143C";

}

#pi{

	color:blue;
	font-size:150%;
}

.doge{
	text-align: left;
	max-width: 550px;
	float: left;

}

.fry{
	float:right;

}

.moo{
	padding-left: 10em;
	font-size: 25px;
	padding-bottom: 10em;
}
