<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='rama.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">


<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>

  </head>
  <body>

  {% block navbar %}
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="{{url_for('welcome')}}">TripleS</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('signin')}}">Sign In </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('contact')}}">About</a>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="HashtagSearch">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>
{% endblock %}
  
  <div class="container">
  {% block cards %}
    {% endblock %}

    {% block content %}
     
    {% endblock %}
    
  </div>
  
    


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
