{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% block content %}


<center>

<form>

<form>



<h1> Nice to meet you!</h1>

<div class= "doge">



<p id="pi"> 


Hello there! We are a group of Palestinian and Israeli teenagers in a program called MEET.
We have been studying computer science and business management for 3 years now, and we've decided that it's finally time for us to create our own project :) 
<br>
<br>
So after many debates and a lot of Toffi, we have decided to devote our project to stereotypes and most importantly- BREAKING them!
So we invite you to share with us your OWN stories (either real or made up) that take us a step closer to our vision- A world where society defies social expectations.
</p>
<p id=email>
  IN ORDER TO PUBLISH A STORY PLEASE SEND IT TO: TripleS@gmail.com
  </p>


</div>


</center>


{% endblock %}
