<html>
<head>
<title id="title">Home Page</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">
</head>
<body id="body">
<table id="table"><tr><td><a href="{{url_for('contact')}}">contact us</a></td>
<a class="bla" href="{{url_for('welcome')}}  "> Welcome Page</a><br><br>
<h1 id="headline">Home Page</h1>
<div class="story" id="div1"><img src="" id="storyimage"><p>by:koko</p>
<p>once upon a time not long ago i was a hoe</p><p>11/2/2001 <a href="{{url_for('story')}}">Read Me!</a></p><h6 id="storyname"></h6></div>
<div class="story" id="div1"><img src="" id="storyimage"><p>by:lolo</p>
<p>once upon a time not long ago i was a hoe</p><p>11/2/2001 <a href="{{url_for('story')}}">Read Me!</a></p><h6 id="storyname"></h6></div>
<div class="story" id="div1"><img src="" id="storyimage"><p>by:bobo</p>
<p>once upon a time not long ago i was a hoe</p><p>11/2/2001 <a href="{{url_for('story')}}">Read Me!</a></p><h6 id="storyname"></h6></div>
<div class="story" id="div1"><img src="" id="storyimage"><p>by:nono</p>
<p>once upon a time not long ago i was a hoe</p><p>11/2/2001 <a href="{{url_for('story')}}">Read Me!</a></p><h6 id="storyname"></h6></div>
<div class="story" id="div1"><img src="" id="storyimage"><p>by:popo</p>
<p>once upon a time not long ago i was a hoe</p><p>11/2/2001 <a href="{{url_for('story')}}">Read Me!</a></p><h6 id="storyname"></h6></div>
</body>
</html>