{% extends 'base.html' %}

{% block cards %}
<br><br>
<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>

</div>
<div class="row">
		<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>
		<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>
		<div class="col-xs-12 col-md-4">
		<div class="card">
  <img class="card-img-top" src="{{url_for('static', filename='sam.jpeg')}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">The Big Kahuna Burger</h4>
    <p class="card-text"><!-- start slipsum code -->

Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

<!-- end slipsum code --></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
	</div>
</div>

{% endblock %}

{% block content %}
<center>

<!--
<h1 id="storyname">STORY TIME!</h1>

<table class="heisenberg">
</table></center>
<tr>

<td class="tyrion"><div class="items" id="div1"> <img class="yo" src="{{url_for('static', filename='avatar.png')}}"><p>by:</p>

<p>STORY SUMMARY</p><p>date:</p><h6 id="storyname"></h6></div></td>

<td class="eddard"><div class="items" id="div1"> <img class="yo" src="{{url_for('static', filename='avatar.png')}}"><p>by:</p>

<p>STORY SUMMERY</p><p>date:</p><h6 id="storyname"></h6></div></td>
</tr>
<tr>
<td><div class="items" id="div1"><img class="yo" src="{{url_for('static', filename='avatar.png')}}"><p>by:</p>

<p>STORY SUMMARY</p><p>date:</p><h6 id="storyname"></h6></div></td>

<td class="cersei"><div class="items" id="div1"><img class="yo" src="{{url_for('static', filename='avatar.png')}}"><p>by:</p>

<p>STORY SUMMARY</p><p>date:</p><h6 id="storyname"></h6></div></td>
</table>
</tr></table>

<table id="table"><tr><td><a href="{{url_for('contact')}}">contact us</a></td><td><a href="{{url_for('welcome')}}">log out</a></td></tr></table>


{% endblock %}
-->