<html>

<head>

	<title>Settings</title>

</head>

<body>

<h1>Settings</h1>

<br>
<br>
	
Change Password: 

<input type="text" name="newpassword">

<br>

Change Username: 

<input type="text" name="newusername">

<br>

Change Background: <br>

<input type="radio" name="newbackgroundimage1"><img src="/static/underwater.jpg"> <br>
<input type="radio" name="newbackgroundimage2"><img src="/static/space.jpeg"><br>
<input type="radio" name="newbackgroundimage3"><img src="/static/nature.jpeg"><br>
<input type="radio" name="newbackgroundimage4"><img src="/static/fall.jpeg"> <br>

Change Avatar: <br>

<input type="radio" src="" name="newavatar1"> <br>
<input type="radio" src="" name="newavatar2"> <br>
<input type="radio" src="" name="newavatar3"> <br>
<input type="radio" src="" name="newavatar4"> <br>

<button>Save Changes</button>
<button>Cancel</button>

</body>

</html>