<html>

<head>

	<title>Settings</title>

</head>

<body>

<h1>Settings</h1>

<br>
<br>
	
Change Password: 

<input type="text" name="newpassword">

<br>

Change Username: 

<input type="text" name="newusername">

<br>

Change Background: 

<input type="radio" src="" name="newbackgroundimage1"> <br>
<input type="radio" src="" name="newbackgroundimage2"> <br>
<input type="radio" src="" name="newbackgroundimage3"> <br>
<input type="radio" src="" name="newbackgroundimage4"> <br>

Change Avatar:

<input type="radio" src="" name="newavatar1"> <br>
<input type="radio" src="" name="newavatar2"> <br>
<input type="radio" src="" name="newavatar3"> <br>
<input type="radio" src="" name="newavatar4"> <br>

</body>

</html>