{% extends 'base.html' %}
{% block style %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">
	<title> Sign In</title>

{% endblock %}
{% block content %}



<center>

<h1> Sign In </h1>

<form id="frm2" action="{{url_for('signin')}}"" method="POST">

<input type="text" id="username" name="username" placeholder="user name" required="yes" autocomplete="on">

<br>
<br>

<input type="password" id="password" name="password" placeholder="password" required="yes" autocomplete="off">



<br>
<br>

<button type="submit" class="btn btn-primary" id="submit" name="submit" value="submit" action= "{{url_for('signin')}}">Sign In</button>

<br>
<br>

<button type="submit" class="btn btn-primary" id="submit" name="cancel" value="submit" formaction="{{url_for('welcome')}}">Cancel</button><br><br>

</form>

</center>

{% endblock %}
