<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">
	<title> Sign In</title>
</head>
<body>
<menu type="toolbar" id="mymenu">

	<menuitem label="Welcome Page" onclick="" icon="ico_reload.png"> <a href="{{url_for('welcome')}}">TripleS</a>
	</menuitem>

	<menuitem label="Sign Up Page" onclick="" icon="ico_reload.png"> <a href="{{url_for('signup')}}">Sign Up</a>
	</menuitem>

	<menuitem label="Sign In Page" onclick="" icon="ico_reload.png"> <a href="{{url_for('signin')}}">Sign In</a>
	</menuitem>

	<menuitem label="About Us Page" onclick="" icon="ico_reload.png"><a href="{{url_for('contact')}}">About Us</a>
	</menuitem>

</menu>

<center>

<h1> Sign In </h1>

<form id="frm2" action="signin">

<input type="text" id="username" name="username" placeholder="user name" required="yes" autocomplete="on">

<br>
<br>

<input type="password" id="password" name="password" placeholder="password" required="yes" autocomplete="off">

<input type="text" id="username" name="username" placeholder="user name">
<br><br>
<input type="password" id="password" name="name" placeholder="password" >
<br><br>

<br>
<br>

<button type="submit" id="submit" name="submit" value="submit" formaction= "{{url_for('home')}}">Sign In</button>

<br>
<br>

<button type="submit" id="submit" name="submit" value="submit" formaction="{{url_for('welcome')}}">Cancel</button><br><br>

</form>

</center>

</body>

</html>