<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">


<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
	<title> Welcome Page </title>
</head>
<body>
<center>
<br>
<br>

<h1> Welcome </h1>
<br><br><br>

<p> breaking stereotypes,one story at a time



<br><br><br><br>



<table class="moo"  align="center" style="width:100%" class="t"  >
  <tr>
    <td> 
<a  class= "bla"  href="{{url_for('signin')}} "> Sign In </a>
</td>
    <td><a class="bla" href="{{url_for('signup')}}  "> Sign Up      </a></td>
    <td><a class="bla" href="{{url_for('contact')}}  "> Contact Us</a></td>
  </tr>
  <tr>
</table> 	


</center>





<div>      </div>

</body>
</html>
