{% extends 'base.html' %}
<head>
{% block style %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='welcome.css')}}">


<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content%}


	<title> Welcome Page </title>

</head>
<body>
<center>

<title> Welcome Page </title>
</head>
<body>
<center>

<br><br><br><br>




<br>

<br>
<br>
<br>


<p class="title1"> Welcome to TripleS <p>


<p> Stories Smash Stereotypes </p>



<br><br><br><br>






</center>






<div>      </div>

</body>

<div>      </div>

</body>


</body>

{% endblock %}
</div>

</html>

